#AppCtrl{
	height:100%;
	width:100%;
	background-color: #fff;
	line-height:1.3em;

	.of-dialog.info-dialog{
		.info-title{
			font-size:24px;
			line-height:1.4em;
			font-family:$font-2;
			margin-bottom:20px;
		}
		
		.info-content{
			img {
				width:100%;
				height:auto;
			}
		}	
	}
	
	@include SmallDevice(){
		.of-dialog-container{
			height:480px;
			margin-top:-240px;
		}
	}
}